<div class="container-fluid" style="margin: 1vmin">
    <h1 class="display-4">CTAS-Debugger</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary btn-lg" onclick="document.location.href='{{.API}}/answer/a'">A</button>
      <button type="button" class="btn btn-secondary btn-lg" onclick="document.location.href='{{.API}}/answer/b'">B</button>
      <button type="button" class="btn btn-secondary btn-lg" onclick="document.location.href='{{.API}}/answer/c'">C</button>
      <button type="button" class="btn btn-secondary btn-lg" onclick="document.location.href='{{.API}}/answer/d'">D</button>
    </div>

</div>