<!-- templates/layout.tmpl -->
<html>
  <head>
    <title>{{.TITLE}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  
  </head>
  <body>
    <!-- Render the current template here -->
    {{ yield }}
  </body>
</html>